Xcursor.size: 12
URxvt.font: ttf:Hack:size=12
URxvt.scrollBar: false
URxvt.iso14755: false
URxvt.depth: 32
URxvt.background: [95]#000000
URxvt.savelines: 100000

! Disable Ctrl-M from being handled by rxvt
URxvt.keysym.C-m: builtin:
